<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">    
    <title>Portifólio</title>
</head>
<body>
    <div class="master">
        <div>
            <header>
                    <div class="brand">
                        <a href="#"><img src="/img/Meu-logo.png" alt=""></a>
                    </div>
                    <div class="menu">
                        <div class="toggle">
                            <div class="um"></div>
                            <div class="dois"></div>
                            <div class="tres"></div>
                        </div>            
                        <nav>
                            <ul>
                                <li><a href="/">Início</a></li>
                                <li>
                                    <div class="dropdown">
                                        <button href="#" class="dropdown-btn">Usuários</button>
                                        <div class="dropdown-filho">
                                            <a href="/cadastrousers">Cadastro de usuários</a>
                                            <a href="/consultausers">Consultar usuários</a>
                                            <a href="/validausers">Validação de usuários</a>
                                        </div>
                                    </div>
                                </li>
                                <li></li>                        
                                <li><a href="/mural">Mural de avisos</a></li>
                                <li><a href="/reclamacao">Visualizar Reclamações</a></li>
                                <li><a href="/servicos">Visualizar serviços</a></li>
                                <li><a href="/sugestoes">Ver sugestões</a></li>                                                             
                            </ul>
                        </nav>
                    </div>        
            </header>
        </div>
        <div>
            <main>
                <div class="container">
                    {{{body}}}                        
                </div>
            </main>
        </div>
        <div>
            <footer>
                <div><p><span>Portifólio </span>&copy;2022</p></div>
                <div>
                    <p>Contatos:</p>
                    <p>carlos.redestelecom@gmail.com</p>
                    <p>telefone: +55 62 99343-9196</p>
                </div>
            </footer>
        </div>
    </div>
    <script src="/scripts/menu.js"></script>
</body>
</html>