<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">    
    <title>Condomínio Fácil 1.0</title>
</head>
<body>
    <div class="master">
        <header>
                <div class="brand">
                    <a href="#"><img src="/img/Meu-logo.png" alt=""></a>
                </div>
                <div class="menu">
                    <div class="toggle">
                        <div class="um"></div>
                        <div class="dois"></div>
                        <div class="tres"></div>
                    </div>            
                    <nav>
                        <ul>                            
                            {{#if session.adminid}}
                                <li><a href="/adm/">Home</a></li>
                                <li>
                                    <div class="dropdown">
                                    <button href="#" class="dropdown-btn">Colaboradores</button>
                                        <div class="dropdown-filho">
                                            <a href="/adm/registraAdmin">Cadastro de colaboradores</a>
                                            <a href="/adm/consultarAdmin">Consultar colaboradores</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                    <button href="#" class="dropdown-btn">Condôminos</button>
                                        <div class="dropdown-filho">
                                            <a href="/registrar">Cadastro de condôminos</a>
                                            <a href="/listar">Listar condôminos</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                    <button href="#" class="dropdown-btn">Mural</button>
                                        <div class="dropdown-filho">
                                            <a href="/mural/criaMural">Cadastro de aviso/circular</a>
                                            <a href="/mural/listarMural">Consultar/editar aviso</a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="/rec/reclamacoes">Reclamações</a></li>
                                <li><a href="/serv/servicos">Serviços</a></li>
                                <li><a href="/help/sugestoes">Sugestões</a></li>
                                <li><a href="/adm/logoutAdmin">Sair</a></li></li>                            
                            {{else}}
                                {{#if session.userid}}
                                <li><a href="/">Home</a></li>
                                <li>
                                    <div class="dropdown">
                                    <button href="#" class="dropdown-btn">Divulgar</button>
                                        <div class="dropdown-filho">
                                            <a href="/divulgar/criar">Divulgar</a>
                                            <a href="/divulgar/listar">Consultar divulgações</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                    <button href="#" class="dropdown-btn">Reclamações</button>
                                        <div class="dropdown-filho">
                                            <a href="/rec/criar">Reclamar</a>
                                            <a href="/rec/minhas">Consultar reclamações</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                    <button href="#" class="dropdown-btn">Serviços</button>
                                        <div class="dropdown-filho">
                                            <a href="/serv/solicitar">Solicitar</a>
                                            <a href="/serv/minhas">Consultar Solicitações</a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="/sugestao/sugerir">Sugestões</a></li>
                                <li><a href="/logout">Sair</a></li>
                                {{else}}
                                    <li><a href="/login">Condômino</a></li>
                                    <li><a href="/adm/loginAdmin">Administração</a></li>
                                {{/if}}
                            {{/if}}                                                                                            
                        </ul>
                    </nav>
                </div>        
        </header>
        <main>
            <div class="container">
                {{#if messages.mensagem}}
                    <div class="mensagem">
                    {{messages.mensagem}}
                    </div>                
                {{/if}}
                {{{body}}}                        
            </div>
        </main>
        <footer>
            <div>
                <p>Contatos:</p>
                <p>sindico@condominio.com.br</p>
                <p>telefone: +55 62 xxxx-xxxx</p>
            </div>
            <div>
                <img src="/img/CONVIVENCIA.jpg">
            </div> 
            <div class="dev">
                <div>
                    <p><span>CondomínioFacil</span>&copy;2022</p>
                    <p>Developed by Carlos Roberto Ferreira de Araújo</p>
                    <p>e-mail: carlos.redestelecom@gmail.com</p>
                    <p>Fone/WhatsApp: +55 62 9 9342-9196</p>
                </div>                    
                <div class="social">
                    <ul>
                        <li><a href="https://twitter.com/CarlosRedestele" target="_blank"><img src="/img/Twitter.png" alt=""></a></li>
                        <li><a href="https://instagram.com/carlos_ferreiraaraujo" target="_blank"><img src="/img/Instagram.png" alt=""></a></li>
                        <li><a href="https://github.com/CarlosRFAraujo" target="_blank"><img src="/img/github.png" alt=""></a></li>
                        <li><a href="https://www.linkedin.com/in/carlos-araujo-b6b3143a" target="_blank"><img src="/img/linkedin.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script src="/scripts/menu.js"></script>
</body>
</html>