<div class="home">
    <h1>Abrir reclamação:</h1>    
    <div class="authcontainer">
        <form action="/sugestao/sugerir" method="post">           
            <div class="formulario">
                <label for="sugestao">Digite sua sugestão: </label>
                <textarea name="sugestao" rows="14">Deixar aqui sua sugestão para melhoria do ambiente de convivência e/ou instalações visando a qualidade de vida e melhoria das relações entre condôminos.</textarea>
            </div>                   
            <div class="formulario">
                <button type="submit">Criar</button>
            </div>
        </form>
    </div>
</div>