<div class="home">
    <h1>Alterar Senha:</h1>
    <div class="authcontainer">
        <form action="/alterar" method="post">
            <div class="formulario">
                <label for="senha">Digite a senha atual do usuário: </label>
                <input type="password" name="antigasenha" placeholder="digite senha do usuário">
            </div>
            <div class="formulario">
                <label for="senha">Digite a nova senha do usuário: </label>
                <input type="password" name="senha" placeholder="digite a nova senha do usuário">
            </div>
            <div class="formulario">
                <label for="senha">Confirmar a senha do usuário: </label>
                <input type="password" name="confirmsenha" placeholder="digite novamente a nova senha do usuário">
            </div>
            <div class="formulario">
                <button type="submit">Alterar senha</button>
            </div>
        </form>
    </div>
</div>