<div class="home">
    <h1>Autenticação de usuários</h1>
    <div class="authcontainer">
        <form action="/login" method="post">
            <div class="formulario">
                <label for="cpf">Digite o CPF do usuário: </label>
                <input type="text" name="cpf" placeholder="digite o CPF do condômino">
            </div>
            <div class="formulario">
                <label for="senha">Digite a senha do usuário: </label>
                <input type="password" name="senha" placeholder="digite senha do usuário">
            </div>
            <div class="formulario">
                <button type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>